server:
  port: ${PORT}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION_TIME}

service:
  secret:
    plazoleta: ${MS_PLAZOLETA_SECRET_KEY}

appDescription: "Plazoleta Restaurantes"
appVersion: "1.0.0"
